body{
	background-color: #eee;
	font-family: arial;
	max-width: 600px;
	margin: auto;
}

header > h1{
	color: darkgreen;
	font-size: 50px;
	letter-spacing: 20px;
	text-transform: uppercase;
	margin: 40px 0px 30px;
}

li{
  background-color: green;
  border: none;
  color: white;
  padding: 10px;
  display: inline-block;
  font-size: 15px;
  margin: 15px 47px 3px -40px;
}

a{
	color: white;
	text-decoration: none;
}

section{
	background-color: lightgreen;
	padding: 15px;
	margin: 0px 0px 1px 0px;
	font-size: 13px;
}

section > h1{
	letter-spacing: 5px;
	font-size: 20px;
}

p::first-letter{
	font-size: 28px;
	color: green;
}

footer{
	font-size: 10px;
	margin: 10px 0px;
	border-top: 2px solid lightgreen;
	padding: 10px 0px;
}